<template>
    <div class="modal-card" @keyup.ctrl.exact.enter="save">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit user</p>
        </header>

        <section class="modal-card-body">
            <div class="error has-text-danger" v-if="errorMessage">{{ errorMessage }}</div>

            <b-field label="Name">
                <b-input
                        type="input"
                        v-model="form.name"
                        :placeholder="user.name"
                />
            </b-field>

            <b-field label="Email">
                <b-input
                        type="input"
                        v-model="form.email"
                        :placeholder="user.email"
                />
            </b-field>

            <b-field class="file">
                <b-upload v-model="form.image">
                    <a class="button is-primary">
                        <span>Upload avatar</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="form.image">
                    {{ form.image.name }}
                </span>
                <span class="file-name" v-else-if="user.avatar">
                    {{ user.avatar }}
                </span>
            </b-field>
        </section>

        <footer class="modal-card-foot">
            <b-button type="is-primary" @click="save">
                Save
            </b-button>
        </footer>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "EditUserForm",

        data: () => ({
            form: {
                name: '',
                email: '',
                image: null,
            },
            errorMessage: '',
            url: process.env.VUE_APP_API_URL + "users",
        }),

        props: {
            user: {
                type: Object,
                required: true,
            },
        },

        methods: {
            save(e) {
                this.resetErrorMessage();
                e.PreventDefault;

                if(this.formValidation()) {
                    this.updateUser();
                }
            },

            updateUser() {
                let formData = new FormData();
                formData.append('name', this.form.name);
                formData.append('email', this.form.email);

                if(this.form.image) {
                    formData.append("image", this.form.image);
                }

                formData.append('_method', 'PATCH');

                axios.post(`${this.url}/${this.user.id}`,  formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(() => {
                    this.$emit('closeModal');
                    this.$emit('getUsers');
                })
            },

            formValidation() {
                if(this.form.name === "") {
                    this.errorMessage = "Enter name";

                    return false;
                }

                if(!this.emailValidation(this.form.email)) {
                    this.errorMessage = "Enter valid email";

                    return false;
                }

                return true;
            },

            resetErrorMessage() {
                this.errorMessage = '';
            },

            emailValidation(email) {
                let regular = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;

                return regular.test(email);
            },
        },

        created() {
            this.form.name = this.user.name;
            this.form.email = this.user.email;
        },
    }
</script>
