<template>
    <div class="container">
        <div class="navigation">
            <div class="level">
                <div class="level-left">
                    <b-button
                            class="button"
                            type="is-link"
                            @click="onAddUserClick"
                    >
                        Add user
                    </b-button>
                </div>

                <div class="level-right" @keyup.ctrl.exact.enter="onSearchClick">
                    <b-input
                            type="text"
                            v-model="searchQuery"
                            placeholder="Enter name or email"
                    />
                    <b-button
                            class="button"
                            type="is-link"
                            @click="onSearchClick"
                    >
                        Search
                    </b-button>
                </div>
            </div>
        </div>

        <div class="table-container">
            <UserPreviewList :users="users" @getUsers="getUsers" />
        </div>

        <b-modal :active.sync="isNewUserModalActive" id="NewUserForm" has-modal-card>
            <NewUserForm @getUsers="getUsers" @closeModal="closeModal" />
        </b-modal>

        <b-loading
                :is-full-page="true"
                :active.sync="isLoading"
                :can-cancel="false"
        />
    </div>
</template>

<script>
    import axios from 'axios';
    import NewUserForm from './NewUserForm.vue';
    import UserPreviewList from "./UserPreviewList";

    export default {
        name: "UserContainer",

        components: {
            NewUserForm,
            UserPreviewList,
        },

        data: () => ({
            isNewUserModalActive: false,
            url: process.env.VUE_APP_API_URL + "users",
            users: [],
            searchQuery: '',
            isLoading: false,
            isFullPage: true,
        }),

        methods: {
            onAddUserClick() {
                this.showAddUserModal();
            },

            showAddUserModal() {
                this.isNewUserModalActive = true;
            },

            getUsers() {
                this.loadingStart();

                axios.get(this.url).then(data => {
                    this.users = data.data;
                })

                this.loadingEnd();
            },

            onSearchClick() {
                this.loadingStart();

                axios.get(`${this.url}/${this.searchQuery}`).then(data => {
                    this.users = data.data;
                });

                this.loadingEnd();
            },

            closeModal() {
                this.isNewUserModalActive = false;
            },

            loadingStart() {
                this.isLoading = true;
            },

            loadingEnd() {
                this.isLoading = false;
            }
        },

        created() {
            this.getUsers();
        },
    }
</script>

<style scoped lang="scss">
    .navigation {
        padding: 10px 0;
    }
</style>
