<template>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>Name (username)</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <template >
                <UserPreviewCard
                        v-for="user in users"
                        :key="user.id"
                        :user="user"
                        @getUsers="getUsers"
                />
            </template>

        </tbody>
    </table>
</template>

<script>
    import UserPreviewCard from "./UserPreviewCard";

    export default {
        name: "UserPreviewList",

        components: {
            UserPreviewCard,
        },

        props: {
            users: {
                type: Array
            },
        },

        methods: {
            getUsers() {
                this.$emit('getUsers');
            },

        },
    }
</script>
