<template>
    <tr class="user">
        <td>#{{ user.id }}</td>
        <td>

            <figure class="image is-64x64 user-avatar" v-if="user.avatar">
                <img :src="user.avatar" alt="User avatar">
            </figure>
            <figure class="image is-64x64 user-avatar" v-else>
                <img src="https://api.adorable.io/avatars/64/default.png" alt="Default user avatar">
            </figure>

        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
            <div class="edit-button">
                <b-button
                        class="button"
                        type="is-success"
                        @click="onEditUserClick"
                >
                    Edit
                </b-button>
                <b-button
                        class="button"
                        type="is-danger"
                        @click="onDelete"
                >
                    Delete
                </b-button>

                <b-modal :active.sync="isEditUserModalActive" has-modal-card>
                    <EditUserForm :user="user" @closeModal="closeModal" @getUsers="getUsers"  />
                </b-modal>
            </div>
        </td>
    </tr>
</template>

<script>
    import axios from 'axios';
    import EditUserForm from "./EditUserForm";

    export default {
        name: "UserPreviewCard",

        components: {
            EditUserForm,
        },

        data: () => ({
            isEditUserModalActive: false,
            url: process.env.VUE_APP_API_URL + "users",
        }),

        props: {
            user: {
                type: Object,
                required: true,
            },
        },

        methods: {
            onEditUserClick() {
                this.showEditUserModal();
            },

            showEditUserModal() {
                this.isEditUserModalActive = true;
            },

            onDelete() {
                this.$buefy.dialog.confirm({
                    title: 'Deleting user',
                    message: 'Are you sure you want to <b>delete</b> this user? This action cannot be undone.',
                    confirmText: 'Delete User',
                    type: 'is-danger',

                    onConfirm: () => {
                        axios.delete(`${this.url}/${this.user.id}`).then(() => {
                            this.$emit('getUsers');
                        })
                    }
                });
            },

            getUsers() {
                this.$emit('getUsers');
            },

            closeModal() {
                this.isEditUserModalActive = false;
            },
        }
    }
</script>

<style scoped lang="scss">
    .edit-button {
        min-width: 150px;

        button {
            margin-right: 7px;
        }
    }

    .user-avatar {
        overflow: hidden;
    }
</style>
