<template>
    <div id="app">
        <UserContainer />
    </div>
</template>

<script>
    import UserContainer from "./components/view/user/UserContainer";

    export default {
        name: 'App',
        components: {
            UserContainer,
        },
    }
</script>

<style lang="scss">
    @import '~buefy/dist/buefy.min.css';
    @import 'styles/common';
</style>
